*{
    margin:0px;
}

.todo-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100vh;
    width:100vw;
    background-size:cover;
    background-image:url("https://res.cloudinary.com/dw7ksdscg/image/upload/v1696419216/istockphoto-1363214013-2048x2048_is5o31.jpg");
    background-color: rgb(249, 217, 175);
    font-family:"Arial";
}
.todo-box{
    width:50%;
    margin-top:30px;
    margin-bottom:10px;
    background-image:url("https://res.cloudinary.com/dw7ksdscg/image/upload/v1696419473/todo-list-on-clipboard-with-hands-illustration-checklist-document-with-task-to-do-on-board-with-paper-clip-flat-man-hands-holding-pen-and-clipboard-with-todo-list-on-green-background-TDM71B_rjqxfw.jpg");
    background-size:cover;
    background-color: rgb(222, 241, 200);
    border-radius:15px;
    padding:10px;
    height:90%;
}
.todo-heading{
    margin-bottom:20px;
    text-align: center;
    font-size:30px;
    color: rgb(250, 245, 245);
}
.todo-input{
    display:flex;
    justify-content:center;
    width:44vw;
    height:35px;
    background-color:rgb(178, 234, 215);
    border:2px solid rgb(91, 222, 179);
    border-radius: 3px;
    color:black;
    font-size:16px;
    margin-right:15px;
    margin-left:30px;
    padding-left:10px;
}
.todo-add-button-container{
    display:flex;
    justify-content:center;
    margin-top:10px;
    margin-bottom: 20px;
}
.todo-filter{
    display:flex;
    justify-content:center;
}
.todo-filter-button{
    margin-right:20px;
    margin-left:20px;
}

@media (max-width:1080px){
    .todo-filter-button{
        margin-right:2px;
        margin-left:2px;
        font-size:12px;
    }
}