*{
    margin:0px;
}

.todo-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100vh;
    width:100vw;
    background-size:cover;
    background-image:url("https://res.cloudinary.com/dw7ksdscg/image/upload/v1696419216/istockphoto-1363214013-2048x2048_is5o31.jpg");
    background-color: rgb(249, 217, 175);
    font-family:"Arial";
}
.todo-box{
    width:50%;
    margin-top:30px;
    margin-bottom:10px;
    background-color: rgb(242, 236, 205);
    background-size:cover;
    border-radius:15px;
    padding:10px;
    height:80%;
}
.todo-heading{
    margin-bottom:20px;
    text-align: center;
    font-size:30px;
    color: rgb(51, 45, 45);
}
.todo-input{
    display:flex;
    justify-content:center;
    width:44vw;
    height:35px;
    background-color:rgb(213, 244, 233);
    border:1px solid rgb(91, 222, 179);
    border-radius: 3px;
    color:black;
    font-size:16px;
    margin-right:15px;
    margin-left:30px;
    padding-left:10px;
    outline: none;
}

.todo-input-error{
    display:flex;
    justify-content:center;
    width:44vw;
    height:35px;
    background-color:rgb(213, 244, 233);
    border:1px solid rgb(91, 222, 179);
    border-radius: 3px;
    color:black;
    font-size:16px;
    margin-right:15px;
    margin-left:30px;
    padding-left:10px;
    outline: none;
}

.todo-input:focus{
    border:1px solid rgb(145, 251, 83);
}

.todo-input-error:focus{
    border:1px solid rgb(238, 49, 49);
}

.todo-add-button-container{
    display:flex;
    justify-content:center;
    margin-top:10px;
    margin-bottom: 20px;
}
.todo-filter{
    display:flex;
    justify-content:space-around;
}
.todo-filter-button{
    margin-right:20px;
    margin-left:20px;
}
.todo-filter-input{
    margin-left:10px;
    margin-right:2px;
}

ul{
    border:2px solid rgb(138, 153, 237);
    background-color:transparent;
    border-radius:5px;
    margin-top:10px;
    width:90%;
    margin-left:30px;
    padding:5px;
    overflow-y:auto;
    height:40%;
}
li{
    list-style:none;
    border-radius:5px;
    margin:10px 10px;
    background-color: rgb(211, 228, 243);
    padding:5px;
}
.todo-list-items-container{
    display:flex;
    justify-content:space-between;
}
.todo-list-inputs{
    margin-bottom:10px;
    font-size:15px;
}
.todo-checkbox{
    margin-top:13px;
    margin-right:5px;
}
.todo-edit-buttons{
    background-color:transparent;
}
.todo-checkbox{
   font-family:'Arial';
   font-size:12px;
   background-color:lightgray;
   padding:5px;
   border-radius:10px;
}
.todo-icon-style{
    color: rgb(147, 147, 245); 
}
.editInputTodo{
    border:1px solid rgb(138, 153, 237);
    outline:none;
    background-color:transparent;
    padding:10px;
    font-size:15px;
}

@media (max-width:780px){
   .todo-input{
    width:70%;
   }
   ul{
    width:80%;
   }
   .todo-filter{
    display:flex;
    flex-direction: column;
    margin-left:15px;
   }
   .todo-list-inputs{
    overflow-x: auto;
    width:5vw;
    /* max-width:150px; */
   }
   .editInputTodo{
    max-width:10vw;
   }
}

@media (max-width:1200px){
    ul{
        margin-right:20px;
        margin-left:20px;
    }
}

@media (max-height:570px){
    ul{
       height:20%;
    }
}

@media (max-width:1080px){
    .todo-filter-button{
        margin-right:2px;
        margin-left:2px;
        font-size:12px;
    }
    .editInputTodo{
        width:13vw;
    }
}

@media (max-height:652px){
    .todo-heading{
        margin-bottom:5px;
    }
    .todo-add-button-container{
        margin-top:0px;
    }
    .todo-clear-button-container{
        margin-top:3px;
    }
    .todo-input{
        margin-bottom:1px;
    }
    .todo-filter{
        margin-top:3px;
    }
}
